<h2>isLoggedIn = {{ isLoggedIn }}</h2>
<h2>email = {{ email }}</h2>
<h2>password = {{ password }}</h2>
<h2>jwt = {{ jwt }}</h2>
<h2>isJwtExpired = {{ isJwtExpired }}</h2>
<h2>jwtExpiresIn = {{ jwtExpiresIn }}</h2>
<h2>users = {{ users | json }}</h2>

<input [(ngModel)]="email" />
<input [(ngModel)]="password" />

<button *ngIf="!isLoggedIn" mat-flat-button (click)="login()">LOGIN</button>
<button *ngIf="isLoggedIn" mat-flat-button (click)="logout()">LOGOUT</button>

<button mat-flat-button (click)="getUsers()">GET USERS</button>
